/*$Revision: 59460 $*/

.SearchBar
{
    background-color:gray;
    color:white;
    padding:10px;
    padding-left:25px;
    height:20px;
}

.ActionsBar
{
    width:100%;
}

.ActionButton
{
    padding:2px;
}

.TableViewSeparator
{
    background-color:lightGray;
    color:white;
    font-weight:bold;
}
