/*$Revision: 64530 $*/
div.WERemoved
{
    background-color:#ffcccc;
    border:1px #910000 solid;
    width:48%;
    float:left;
    margin:3px;
}
div.WEAdded
{
    background-color:#e0ff97;
    border:1px #268c18 solid;
    width:48%;
    float:right;
    margin:3px;
}
div.WETripDiff
{
    width:510px;
    background-color:white;
    border:1px #7c7c7c solid;
    padding:5px;
}
div.WELegDiff
{
    margin-top:40px;
    background-color:#f3f3f3;
    border:1px #bdbdbd solid;
}
div.WECheckboxTabsModelDiff
{
    margin:5px;
    margin-top:10px;
    background-color:#eeeeee;
    border:1px #bdbdbd solid;
}
div.WEStatusIndicator
{
    border:1px gray solid;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5px;
    height:100px;
    width:4px;
}
div.StatusComplete
{
    background-color:green;
}
div.StatusPartial
{
    background-color:yellow;
}
div.StatusIncomplete
{
    background-color:red;
}

.DiffRemovedSymbol
{
    color:#6f0000;
    font-size:200%;
}
.DiffAddedSymbol
{
    color:#056a00;
    font-size:200%;
}
.LegDiffHeader
{
    font-size:175%;
    display:block;
    margin-bottom:20px;
    background-color:#d7d7d7;
    border-bottom:1px #bdbdbd solid;
}
.ModelDiffHeader
{
    display:block;
    font-size:140%;
    margin-bottom:5px;
    background-color:#cacaca;
    border-bottom:1px #bdbdbd solid;
}
input.ToggledOn
{
    background-color:#77b2e0;
}
a.Toggle:visited, a.Toggle:link
{
    font-weight:normal;
    text-decoration:none;
}
a.ToggledOn:visited, a.ToggledOn:link
{
    font-weight:bold;
    text-decoration:none;
}
input.AddFilterButton
{
    width:80px;
}
.AddFilter
{
    padding-top:5px;
    width:160px;
    margin-left:auto;
    margin-right:auto;
}
.Filter
{
    margin:2px;
    padding:4px;
    border:1px #e5e5e5 solid;
}
.FilterHighlight
{
    background-color:#dedede;
    border:1px #bcbbbb solid;
}
.WECheckboxField
{
    margin-bottom:4px;
    margin-top:7px;
    clear:both;
}
input.WECheckbox
{
    margin-right:3px;
}
.OptionalCheckboxField
{
    width:96%;
    margin:1px;
}
textarea.WETextArea
{
    border-width: 1px;
    font-size: 10px;
    font-family : Arial, Helvetica, sans-serif;
}
input.WETextBox[readonly]
{
    color:gray;
}
input.WETextBox
{
    margin-left:2px;
    margin-right:2px;
    border-width: 1px;
    height: 15;
    font-size: 10px;
    font-family : Arial, Helvetica, sans-serif;
}
input.WEIntegerTextBox
{
    padding:0px;
    margin:0px;
    height: 22px;
    font-size: 10px;
    font-family : Arial, Helvetica, sans-serif;
}
.Clickable
{
    cursor:pointer;
    cursor:hand;
}

.WEDocument
{
    margin:4px;
    padding:3px;
    background-color:#ededed;
    border:1px #e0e0e0 solid;
}
.SelectedDocument
{
    background-color:#d9d7d7;
    border:1px #a7a7a7 solid;
}
.DeletedDocument
{
    background-color:#d9d7d7;
    border:1px #a7a7a7 solid;
}
.DocumentHeader
{
    margin-bottom:10px;
    font-weight:bold;
}
.WEUndoDelete
{
    margin:3px;
    padding:3px;
}
.WEStoredValue
{
    margin-right:4px;
}
.FieldLabel
{
    font-weight:bold;
}
.WEMenu
{
    position:absolute;
    z-index:999;
    background-color:#e1e1e0;
    padding:2px;
    border:1px #5a5a5a solid;
}
.SpacedWord
{
    margin-left:3px;
    margin-right:3px;
}

.WETabLabel
{
    margin-left:2px;
    margin-right:2px;
    border-top:1px gray solid;
    border-left:1px gray solid;
    border-right:1px gray solid;
    padding:2px;
    font-weight:bold;
    text-decoration:none;
}
.UnselectedTabLabel
{
    cursor:pointer;
    cursor:hand;
    background-color:#C4D0E4;
}
.UnselectedTabLabel:hover
{
    background-color:#FFE6B9;
}
.SelectedTabLabel
{
    background-color:#FFCC33;
}
.TabContents
{
    border:1px gray solid;
}
.WETabContainer
{
}
.WEAccordion
{
   width:100%;
}
.AccordionToggle
{
    width:100%;
    background-color:#FFFFBB;
    cursor:pointer;
    cursor:hand;
    padding:3px;
    border-bottom:1px solid #CCCC88;
}
.AccordionLabel
{
    font-weight:bold;
    margin-left:3px;
}
.WEVerticalRule
{
    border-left:1px gray solid;
    height:100%;
    width:0%;
}
.WEJumpToLetter
{
    background-color:gray;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:10px;
}
.WELetterSelected
{
    font-family:monospace;
    color:black;
    background-color:white;
    border-top:1px #C1E3FF solid;
    border-bottom:1px #C1E3FF solid;
    font-weight:bold;
    padding-left:5px;
    padding-right:5px;
}
.WELetter:link
{
    font-family:monospace;
    color:#DADADA;
    text-decoration:underline;
    padding-left:5px;
    padding-right:5px;
}
.WELetter:active
{
    font-family:monospace;
    color:#DADADA;
    text-decoration:underline;
    padding-left:5px;
    padding-right:5px;
}
.WELetter:visited
{
    font-family:monospace;
    color:#DADADA;
    text-decoration:underline;
    padding-left:5px;
    padding-right:5px;
}
.WELetter:hover
{
    font-family:monospace;
    color:white;
    font-size:200%;
    text-decoration:none;
    padding-left:0px;
    padding-right:0px;
    width:100%;
}
div.WEBreadCrumb
{
    border:1px #868686 solid;
    color:black;
    background-color:#000000;
    background-image:url("breadcrumb_backdrop.png");
    background-repeat:repeat-x;
    padding:5px;
}

a.BreadCrumbLink
{
    font-weight:bold;
    cursor: pointer;
    cursor: hand;
}
a.BreadCrumbLink
{
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}
a.BreadCrumbLink:hover
{
    color:white;
    background-color:gray;
}
.WETimeFrame
{
    margin-top:2px;
}
.WETimeFrame a.selected
{
    font-weight:bold;
    text-decoration:none;
}
.WETimeFrame a
{
    cursor:pointer;
    cursor:hand;
}

.TimeFrameLabel
{
    margin-left:5px;
}
.WEBlock
{
    display:block;
}

.StaticFieldDisplay input, .StaticFieldDisplay select,
.StaticFieldDisplay select.WEMultiSelect, .StaticFieldDisplay input.WETextBox,
.StaticFieldDisplay textarea, .StaticFieldDisplay textarea.WETextArea, .StaticFieldDisplay input.WECheckBox
{
    border : none;
    margin-right : 0px;
    margin-left : 4px;
    border-color : transparent;
    background-color:#E7E7E7;
    font-size : 11px;
}

.WELabeledData
{
    color:rgb(119, 85, 68);
}
.WEDataLabeled
{
    margin-left:5px;
    color:rgb(119, 51, 0);
    font-weight:bold;
}

.WEActionBox
{
    background-color:#E7E7E7;
    border:1px solid #CCCCCC;
    color:#777777;
    margin-left:10px;
    padding:5px;
    width:130px;
}

.WEActionBoxHeader
{
    font-size:14px;
}

.WEActionBox ul
{
    margin:0;
    color:#ccc;
    padding-left:1.5em !important;
}
.WEActionBox ul li
{
    margin:0;
}

.WEUnrolledSelect
{
    margin:0;
    padding:0 !important;
    display:block;
    list-style:none;
    list-position:0;
    width:75px;
}
.WEUnrolledSelect li
{
    list-style:none;
    display:inline;
    margin:0;
    padding:0;
}
.WEUnrolledSelect li a
{
    text-decoration:none;
    display:block;
    background-color:#69c;
    color:#fff;
    padding-left:18px;
    border:1px solid #d0d0d0;
    border-width:0 1px 0 1px;
}
.WEUnrolledSelect li a:hover
{
    background:url("tail_li_hover.gif") 5px 0 no-repeat #69c;
    color:#333;
    border-right:1px solid #ffb;
}
.WEUnrolledSelect li a.selected
{
    background:url("tail_li_selected.gif") 5px 0 no-repeat #69c;
    color:#000;
    border-right:1px solid #eef0f4;
}
.WEUnrolledSelect li span.first
{
    display:block;
    background-color:transparent;
    background-image:url("tail_li_first.gif");
    height:14px;
}
.WEUnrolledSelect li span.last
{
    display:block;
    background-color:transparent;
    background-image:url("tail_li_last.gif");
    height:14px;
}
