.highlight .hll {
  background-color: #49483e; }

.highlight {
  background: #272822;
  color: #f8f8f2; }

.highlight .c {
  color: #75715e; }

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight .cs {
  color: #75715e; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
div.WSelectedMultiOption {
  border: 1px gray solid;
  background-color: lightgray;
  padding: 2px;
  margin-left: 2px;
  color: black; }
  div.WSelectedMultiOption .valueSelected {
    width: 100px; }
  div.WSelectedMultiOption img {
    width: 1em; }
div.WRemoved {
  background-color: #ffcccc;
  border: 1px #910000 solid;
  width: 48%;
  float: left;
  margin: 3px; }
div.WAdded {
  background-color: #e0ff97;
  border: 1px #268c18 solid;
  width: 48%;
  float: right;
  margin: 3px; }
div.WTripDiff {
  width: 510px;
  background-color: white;
  border: 1px #7c7c7c solid;
  padding: 5px; }
div.WLegDiff {
  margin-top: 40px;
  background-color: #f3f3f3;
  border: 1px #bdbdbd solid; }
div.WCheckboxTabsModelDiff {
  margin: 5px;
  margin-top: 10px;
  background-color: #eeeeee;
  border: 1px #bdbdbd solid; }
div.WStatusIndicator {
  border: 1px gray solid;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 100px;
  width: 4px; }
div.StatusComplete {
  background-color: green; }
div.StatusPartial {
  background-color: yellow; }
div.StatusIncomplete {
  background-color: red; }

.DiffRemovedSymbol {
  color: #6f0000;
  font-size: 200%; }

.DiffAddedSymbol {
  color: #056a00;
  font-size: 200%; }

.LegDiffHeader {
  font-size: 175%;
  display: block;
  margin-bottom: 20px;
  background-color: #d7d7d7;
  border-bottom: 1px #bdbdbd solid; }

.ModelDiffHeader {
  display: block;
  font-size: 140%;
  margin-bottom: 5px;
  background-color: #cacaca;
  border-bottom: 1px #bdbdbd solid; }

input.ToggledOn {
  background-color: #77b2e0; }

a.Toggle:visited, a.Toggle:link {
  font-weight: normal;
  text-decoration: none; }
a.ToggledOn:visited, a.ToggledOn:link {
  font-weight: bold;
  text-decoration: none; }

input.AddFilterButton {
  width: 80px; }

.AddFilter {
  padding-top: 5px;
  width: 160px;
  margin-left: auto;
  margin-right: auto; }

.Filter {
  margin: 2px;
  padding: 4px;
  border: 1px #e5e5e5 solid; }

.FilterHighlight {
  background-color: #dedede;
  border: 1px #bcbbbb solid; }

.WCheckboxField {
  margin-bottom: 4px;
  margin-top: 7px;
  clear: both; }

input.WCheckbox {
  margin-right: 3px; }

.OptionalCheckboxField {
  width: 96%;
  margin: 1px; }

textarea.WTextArea {
  border-width: 1px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif; }

input.WTextBox {
  margin-left: 2px;
  margin-right: 2px;
  border-width: 1px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif; }
  input.WTextBox[readonly] {
    color: gray; }
input.WIntegerTextBox {
  padding: 0px;
  margin: 0px;
  height: 22px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif; }

.Clickable {
  cursor: pointer;
  cursor: hand; }

.WDocument {
  margin: 4px;
  padding: 3px;
  background-color: #ededed;
  border: 1px #e0e0e0 solid; }

.SelectedDocument, .DeletedDocument {
  background-color: #d9d7d7;
  border: 1px #a7a7a7 solid; }

.DocumentHeader {
  margin-bottom: 10px;
  font-weight: bold; }

.WUndoDelete {
  margin: 3px;
  padding: 3px; }

.WStoredValue {
  margin-right: 4px; }

.FieldLabel {
  font-weight: bold; }

.WMenu {
  color: black;
  position: absolute;
  z-index: 900;
  background-color: #e1e1e0;
  padding: 2px;
  border: 1px #5a5a5a solid; }

.SpacedWord {
  margin-left: 3px;
  margin-right: 3px; }

.WAccordion {
  width: 100%; }

.AccordionToggle {
  width: 100%;
  background-color: #ffffbb;
  cursor: pointer;
  cursor: hand;
  border-bottom: 1px solid #cccc88; }
  .AccordionToggle img {
    padding: 4px; }

.AccordionLabel {
  margin-left: 3px;
  padding: 3px;
  display: block; }

.WVerticalRule {
  border-left: 1px gray solid;
  height: 100%;
  width: 0%; }

.WJumpToLetter {
  background-color: #0066cc;
  padding-bottom: 10px;
  padding-top: 10px; }

.WLetterSelected {
  font-family: monospace;
  color: black;
  background-color: white;
  border-top: 1px #c1e3ff solid;
  border-bottom: 1px #c1e3ff solid;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px; }

.WLetter:link, .WLetter:active, .WLetter:visited {
  font-family: monospace;
  color: #dadada;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px; }
.WLetter:hover {
  font-family: monospace;
  color: white;
  font-size: 200%;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%; }

div.WBreadCrumb {
  border: 1px #868686 solid;
  color: black;
  background-color: black;
  background-image: url("breadcrumb_backdrop.png");
  background-repeat: repeat-x;
  padding: 5px; }

a.BreadCrumbLink {
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  cursor: pointer;
  cursor: hand; }
  a.BreadCrumbLink:hover {
    color: white;
    background-color: gray; }

.WTimeFrame {
  margin-top: 2px; }
  .WTimeFrame a {
    cursor: pointer;
    cursor: hand; }
    .WTimeFrame a.selected {
      font-weight: bold;
      text-decoration: none; }

.TimeFrameLabel {
  margin-left: 5px; }

.WBlock {
  display: block; }

.StaticFieldDisplay input {
  border: none;
  margin-right: 0px;
  margin-left: 4px;
  border-color: transparent;
  background-color: #e7e7e7;
  font-size: 12px; }
.StaticFieldDisplay select {
  border: none;
  margin-right: 0px;
  margin-left: 4px;
  border-color: transparent;
  background-color: #e7e7e7;
  font-size: 12px; }
  .StaticFieldDisplay select.WMultiSelect {
    border: none;
    margin-right: 0px;
    margin-left: 4px;
    border-color: transparent;
    background-color: #e7e7e7;
    font-size: 12px; }
.StaticFieldDisplay input.WTextBox {
  border: none;
  margin-right: 0px;
  margin-left: 4px;
  border-color: transparent;
  background-color: #e7e7e7;
  font-size: 12px; }
.StaticFieldDisplay textarea {
  border: none;
  margin-right: 0px;
  margin-left: 4px;
  border-color: transparent;
  background-color: #e7e7e7;
  font-size: 12px; }
  .StaticFieldDisplay textarea.WTextArea {
    border: none;
    margin-right: 0px;
    margin-left: 4px;
    border-color: transparent;
    background-color: #e7e7e7;
    font-size: 12px; }
.StaticFieldDisplay input.WCheckBox {
  border: none;
  margin-right: 0px;
  margin-left: 4px;
  border-color: transparent;
  background-color: #e7e7e7;
  font-size: 12px; }

.WLabeledData {
  color: #775544; }

.WDataLabeled {
  margin-left: 5px;
  color: #773300;
  font-weight: bold; }

.WActionBox {
  background-color: #e7e7e7;
  border: 1px solid #cccccc;
  color: #777777;
  margin-left: 10px;
  padding: 5px;
  width: 130px; }

.WActionBoxHeader {
  font-size: 14px; }

.WActionBox ul {
  margin: 0;
  color: #cccccc;
  padding-left: 1.5em !important; }
  .WActionBox ul li {
    margin: 0; }

.WUnrolledSelect {
  margin: 0;
  padding: 0 !important;
  display: block;
  list-style: none;
  list-position: 0;
  width: 75px; }
  .WUnrolledSelect li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0; }
    .WUnrolledSelect li a {
      text-decoration: none;
      display: block;
      background-color: #6699cc;
      color: white;
      padding-left: 18px;
      border: 1px solid #d0d0d0;
      border-width: 0 1px 0 1px; }
      .WUnrolledSelect li a:hover {
        background: url("tail_li_hover.gif") 5px 0 no-repeat #6699cc;
        color: #333333;
        border-right: 1px solid #ffffbb; }
      .WUnrolledSelect li a.selected {
        background: url("tail_li_selected.gif") 5px 0 no-repeat #6699cc;
        color: black;
        border-right: 1px solid #eef0f4; }
    .WUnrolledSelect li span.first {
      display: block;
      background-color: transparent;
      background-image: url("tail_li_first.gif");
      height: 14px; }
    .WUnrolledSelect li span.last {
      display: block;
      background-color: transparent;
      background-image: url("tail_li_last.gif");
      height: 14px; }
